<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-assertive">
    <h1 class="title">Add an exercise</h1>
    <div class="buttons">
     <button class="button button-clear" ng-click="closeExerciseModal()">Cancel</button>
    </div>
  </ion-header-bar>
  <ion-content ng-controller="createExerciseCtrl">
		<label class="item item-input">
    		<input type="text" placeholder="Deadlift, Curls etc." ng-model="form.exerciseName" required>
	 	</label>
  	<ul class="list">
  		<li class="item item-checkbox">
     		<label class="checkbox">
       		<input type="checkbox" ng-model="form.modifierIncline" ng-disabled = "form.modifierDecline">
     		</label>
     		Incline
  		</li>
      <li class="item item-checkbox">
        <label class="checkbox">
          <input type="checkbox" ng-model="form.modifierDecline" ng-disabled = "form.modifierIncline">
        </label>
        Decline
      </li>
      <li class="item item-checkbox">
        <label class="checkbox">
          <input type="checkbox" ng-model="form.modifierAmrap">
        </label>
        Amrap
      </li>
      <li class="item item-checkbox">
        <label class="checkbox">
          <input type="checkbox" ng-model="form.modifierWeighted">
        </label>
        Weighted
      </li>
      <li class="item item-checkbox">
        <label class="checkbox">
          <input type="checkbox" ng-model="form.modifierAssisted">
        </label>
        Assisted
      </li>
	</ul>
	<div class="row">
  		<div class="col">
  			Sets
  			<label class="item item-input">
    			<input type="text" placeholder="4" ng-model="form.sets">
	 		</label>
  		</div>
  		<div class="col">
  			Reps
  			<label class="item item-input">
    			<input type="text" placeholder="8" ng-model="form.reps">
	 		</label>
  		</div>
	</div>
  <div class = "row">
    <div class = "col">
      Weight
  	   <label class="item item-input">
  		    <input type="number" placeholder="8" ng-model="form.weight">
  	   </label>
     </div>
  </div>
  <div class = "row">
    <div class = "col">
      <button class="button button-block button-dark" ng-click="submit()">Add excercise</button>
    </div>
  </div>
  </ion-content>
</ion-modal-view>
<script src="../js/createExerciseCtrl.js"></script>